@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f2f2f2;
  font-family: sans-serif;
  height: 100%;
}

html.dark {
  background-color: rgb(34, 33, 37);
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
